  <div style="max-width: 100vw;">
  <div class="section center" >
    <div  class="hero-content">
      <h1 class="heading-3">Visualizing Seed 2 Sale</h1>
      <h3 class="hero-subhead">Like you&#x27;ve never seen</h3>
      <a href="#" class="button w-button">Join the club</a>
    </div>
    <qannabis-map style="position: absolute; left: 40vw; filter: drop-shadow(2px 4px 6px black); transform:scale(.7) skew(-25deg, 1deg); "></qannabis-map>
  </div>
  <div id="about" class="section wide img">
    <div style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="wrap">
      <h2>GeoGraph demo:</h2>
      <qannabis-map [Config]="Profile"></qannabis-map>
    </div>
  </div>
  <div class="section">
    <div id="features" class="feature-wrap">
      <div style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="feature-content">
        <div class="title">Our mission</div>
        <h2 class="black">Graphically represent the continual growth of the Cannabis community</h2>
        <a href="#" class="button w-button">Explore The Database</a>
      </div>
    </div>
  </div>
</div>
