#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 1em 4em;
}

.feature--type {
	background-size: contain;
	height: 84px;
	width: 84px;
}

.DescendentList{
    transition: height 1s;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    border-radius: 1em;
    border-left:.5em solid;
    border-bottom:.5em solid;
    height:1em;
    overflow: auto;
}
.DescendentList:first > a{
    position:fixed;
    font-size:2vh;
}
.DescendentList:hover{
    height:12vw;
}
.rainbow-button{
    transition:all 1s;
    background:none;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:3.5vw;
    font-weight:bold;
    border:solid pink;
    width:10em;
    width: 19vh;
    outline:none;
}
.rainbow-button:hover{
    border-radius: 2em;
}
.rainbow-button:focus{
    background: pink;
    border-radius: 2em;
}
.rainbow-button > h4{
    transition: all 1s
}



.feature--type--indica {
	/*background-image: url("img/indica.png");*/
}

.feature--type--sativa {
    background-repeat: no-repeat;
    background-image: url('https://qannabislaunch-iehqqpxhjz.now.sh/img/sativa.png');
	/*background-image: url("img/sativa.png");*/
}

.feature--type--hybrid {
	/*background-image: url("img/hybrid.png");*/
}

.feature--flag {
	height: 100px;
	position: relative;
	width: 100px;
}

.feature--flag > img {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.feature--bar {
	height: 10px;
	margin-bottom: 10px;
	width: 0;
}

.feature--lineage > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feature--lineage li {
	padding: 0.5em 0;
}


.feature--lineage a {
	color: #137752;
	text-decoration: none;
}

.feature--lineage a:hover {
	font-weight: bold;
}
